# Print statement

In [1]:
Hello world

SyntaxError: ignored

In [2]:
print(Hello world)

SyntaxError: ignored

In [3]:
print('Hello world')

Hello world

In [4]:
print("Hello world")

Hello world

In [5]:
print('Welcome to Hari's session')

SyntaxError: ignored

In [6]:
print("Welcome to Hari's session")

Welcome to Hari's session

In [7]:
print(2)

2

In [8]:
print('2')

2

# Comments

### Single line comments & Multi line comments

In [10]:
a = 32 a is age
print(a)

SyntaxError: ignored

In [11]:
a = 32 #a is age
print(a)

32

In [12]:
a1 = 23
a2 = 43
# age of person 1
# age of person 2

In [13]:
'''a1 is person 1 age
a2 is person 2 age'''

a1 = 23
a2 = 43

In [15]:
"""a1 is person 1 age
a2 is person 2 age"""

a1 = 23
a2 = 43

# Variables & Literals

In [16]:
age = 31
intro = "Hello all, I'm Hari. I will be the speaker for this session"

In [17]:
intro

"Hello all, I'm Hari. I will be the speaker for this session"

In [18]:
1age = 12

SyntaxError: ignored

In [19]:
@age = 12

SyntaxError: ignored

In [20]:
first name = 'Hari'

SyntaxError: ignored

In [21]:
first_name = 'Hari'

In [22]:
first_name

'Hari'

In [23]:
Age = 21

# Basic Arith... ops...

In [24]:
2+1

3

In [25]:
1231*453

557643

In [26]:
a = 1231*453
a

557643

# List | Tuple | Set | Dict

In [27]:
a = 12,12
a

(12, 12)

In [28]:
type(a)

tuple

In [29]:
a = 12
type(a)

int

In [ ]:
# List (enclosed with [] --- mutable --- ordered)

In [30]:
list_1 = [1,2,3]
list_1

[1, 2, 3]

In [31]:
list_1[2]='Hari'

In [34]:
list_1[1]=2+3j

In [35]:
list_1

[1, (2+3j), 'Hari']

In [36]:
type(list_1)

list

In [ ]:
# Tuple (enclosed with ()---ordered---immutable)

In [37]:
tuple_1 = (1,2,3)
tuple_1

(1, 2, 3)

In [38]:
tuple_1[2]=4

TypeError: ignored

In [ ]:
# Set (enclosed with {} --- unordered --- immutable)

In [39]:
set_1 = {1,2,5,7,'Hari','Srikanth','Saumya',2+4j}
set_1

{(2+4j), 1, 2, 5, 7, 'Hari', 'Saumya', 'Srikanth'}

In [40]:
set_1[0] = 'demo'

TypeError: ignored

In [ ]:
# Dict (enclosed with {} --- Key-value pair)

In [41]:
dict_1 = {'S.No':1,
          'Name':'Hari'}

dict_1

{'S.No': 1, 'Name': 'Hari'}

In [42]:
dict_1['S.No']

1

In [45]:
dict_1 = {'S.No':1,
          'Name':'Hari',
          'S.Nno':1}

dict_1

{'S.No': 1, 'Name': 'Hari', 'S.Nno': 1}