# Print statement

In [1]:
Hello world

SyntaxError: ignored

In [ ]:
print(Hello world)

In [ ]:
print('Hello world')

In [ ]:
print("Hello world")

In [ ]:
print('Welcome to Hari's session')

In [ ]:
print("Welcome to Hari's session")

In [ ]:
print(2)

In [ ]:
print('2')

# Comments

### Single line comments & Multi line comments

In [ ]:
a = 32 a is age
print(a)

In [ ]:
a = 32 #a is age
print(a)

In [ ]:
a1 = 23
a2 = 43
# age of person 1
# age of person 2

In [ ]:
'''a1 is person 1 age
a2 is person 2 age'''

a1 = 23
a2 = 43

In [ ]:
"""a1 is person 1 age
a2 is person 2 age"""

a1 = 23
a2 = 43

# Variables & Literals

In [ ]:
age = 31
intro = "Hello all, I'm Hari. I will be the speaker for this session"

In [ ]:
intro

In [ ]:
1age = 12

In [ ]:
@age = 12

In [2]:
first name = 'Hari'

SyntaxError: ignored

In [ ]:
first_name = 'Hari'

In [ ]:
first_name

In [ ]:
Age = 21

# Basic Arith... ops...

In [ ]:
2+1

In [ ]:
1231*453

In [ ]:
a = 1231*453
a

# List | Tuple | Set | Dict

In [ ]:
a = 12,12
a

In [ ]:
type(a)

In [3]:
a = 12
type(a)

int

In [4]:
# List (enclosed with [] --- mutable --- ordered)

In [5]:
list_1 = [1,2,3]
list_1

[1, 2, 3]

In [6]:
list_1[2]='Hari'

In [7]:
list_1[1]=2+3j

In [8]:
list_1

[1, (2+3j), 'Hari']

In [9]:
type(list_1)

list

In [10]:
# Tuple (enclosed with ()---ordered---immutable)

In [11]:
tuple_1 = (1,2,3)
tuple_1

(1, 2, 3)

In [12]:
tuple_1[2]=4

TypeError: ignored

In [ ]:
# Set (enclosed with {} --- unordered --- immutable)

In [ ]:
set_1 = {1,2,5,7,'Hari','Srikanth','Saumya',2+4j}
set_1

In [ ]:
set_1[0] = 'demo'

In [ ]:
# Dict (enclosed with {} --- Key-value pair)

In [ ]:
dict_1 = {'S.No':1,
          'Name':'Hari'}

dict_1

In [ ]:
dict_1['S.No']

In [ ]:
dict_1 = {'S.No':1,
          'Name':'Hari',
          'S.Nno':1}

dict_1

In [18]:
# Indexing & Slicing

list1 = [12,11,23,31,'Hari']
list2 = [10,[1,2],3,['Hari','Srikanth','Saumya']]

In [14]:
type(list1),type(list2)

(list, list)

In [15]:
list1[0]

0

In [16]:
list1[4]

'Hari'

In [20]:
list1[0:3]

[12, 11, 23]